.fa-poo-storm {
    transition: transform 250ms;
    text-decoration: none;
}

.fa-poo-storm:hover {
    transform: translateY(-5px);
}

.background {
    background: linear-gradient(to right, #0d6efd, #261360);
}

.query {
    flex-direction: row;
}

@media screen and (max-width: 767px) {
    .query {
        flex-direction: column;
    }
}